<div class="university_div <%=university.id%>"> 

    <div class="university_name">
        <%= link_to university.name.capitalize, university_path(id: university.id) %>
    </div>

    <div class="university_info">
        <%= raw university.info %>
    </div>
    <br>

    <div class="departments_container">Departments:<% @departments = University.includes(:departments).find(university.id).departments %>
        <% @departments.each do |department| %>
            <%= department.name.capitalize %>
        <% end %>
    </div>
    <div class="extras_container btn-group">
        <%= button_to "Edit", edit_university_path(id: university.id), method: :get, class: "btn btn-primary" %>
        <%= button_to "Archive", root_path, class: "btn btn-warning" %>
        <%= button_to "Delete", university, class: "btn btn-danger",  method: :delete, data: {confirm: "Are you sure you want to delete this university?"}, remote: true  %>
    </div>
    <br>

</div>
