<%= content_for :title do %>
    Edit University
<% end %>

<div class="new_post_form">
    <br>
    <h1 class="form_heading">Edit University</h1></br></br>

    <div class="form_container">
        <div class="row">
            <div class="span6 offset3">
                <%= form_for(:university, url: {action: "update", id: @university.id}, method: "put", :html => { :class => "form-horizontal"}) do |f| %>

                    <%= f.label :university_name%><br>
                <%= f.text_field :name , class:"form-control", value: @university.name %><br><br>

                <%= f.label :country%><br>
                <%= f.collection_select :country_id, Country.all, :id, :name, value: @university.country_id, class:"form-control" %><br><br><br>

                <%= f.label :website%><br>
                <%= f.text_field :website , class:"form-control", value: @university.website %><br><br>

                <%= f.label :info %><br>
                <%= f.bootsy_area :info, size: "80x12", value: @university.info, class:"form-control" %><br><br>

                <%= f.label :departments, "Departments" %><br>
                <% for dept in Department.all %>
                    <label>
                    <%= check_box_tag "university[department_ids][]", dept.id, @university.departments.include?(dept) %>
                    <span>
                        <%= dept.name.capitalize %> &nbsp
                    </span>
                </label>
            <% end %>
                <br></br>

                <div class="durations_div">
                <% @durations.each do |duration| %>
                    <%= render duration %>
                <% end %>
                </div>

                <%= link_to "Add Duration", new_university_duration_path(university_id: @university.id), remote: true, class: "btn btn-success add_duration_button"%><br><br>

                <div class="new_duration_div"></div>

                <%= f.submit "Update", class: "btn btn-large btn-primary" %>
            <% end %>

            </div>
        </div>
    </div>
</div>
