<%= content_for :title do %>
    New University
<% end %>

<div class="new_post_form">
    <br>
    <h1 class="form_heading">Add New University</h1></br></br>

    <div class="form_container">
        <div class="row">
            <div class="span6 offset3">
                <%= form_for(:university, url: universities_path, method: 'post' , :html => { :class => "form-horizontal"}) do |f| %>

                    <%= f.label :university_name%><br>
                <%= f.text_field :name , class:"form-control", placeholder:"Name" %><br><br>

                <%= f.label :country%><br>
                <%= f.collection_select :country_id, Country.all, :id, :name, class:"form-control" %><br><br><br>

                <%= f.label :website%><br>
                <%= f.text_field :website , class:"form-control", placeholder:"Website" %><br><br>

                <%= f.label :info %><br>
                <%= f.bootsy_area :info, size: "80x12", class:"form-control" %><br><br>

                <%= f.label :departments %><br>
                <% for dept in Department.all %>
                    <label>
                    <%= check_box_tag "university[department_ids][]", dept.id, @university.departments.include?(dept) %>
                    <span>
                        <%= dept.name.capitalize %> &nbsp
                    </span>
                </label>
            <% end %>
                <br><br>

                <div class="new_duration_div">
                    Please add durations for each university later. Thank you.
                </div>
                <br><br>

                <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
            <% end %>

            </div>
        </div>
    </div>
</div>
